<div class="container imagendefondo">
	<div class="row centrado">
		<div class="col">
			<h1 class="tit">R E G I S T R O</h1>
		</div>	
	</div>
	<br/><br/>
	<div class="row centrado ">
		<div class="col-md">
			<div class="list">
  				<label class="item item-input">
    				<input type="email" class="on space" placeholder="Ingresa tu correo" ng-model="usuario.Correo">
  				</label>
  				<label class="item item-input">
  					<input type="password" class="on" placeholder="Ingresa tu clave" ng-model="usuario.Contra">
  				</label>
			</div>
		</div>
	</div>
	<br/>
	<div class="row centrado">
		<div class="col-md centrado">
			<button class="button reg" ng-click="obtener(usuario)">
			REGISTRARSE
			</button>
		</div>
		
	</div>
</div>


